<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/components/copy.html">Copy</a>
        </li>
       <li class="nav-item">
            <a class="nav-link" href="/components/heading.html">Heading</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/components/image.html">Image</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/components/video.html">Video</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/components/carousel.html">Carousel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/components/image-map.html">Image Map</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/components/forms.html">Forms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/components/CTA.html">CTA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/components/iFrame.html">iFrame</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/components/lightbox.html">Lightbox</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/components/table.html">Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/components/article-blog.html">Article/Blog Feed</a>
        </li>
    </ul>
</div>