<div class="form-group row">
	<div class="col">
		<buton class="btn btn-default"><i class="fa fa-link" aria-hidden="true"></i></button>
	</div>
</div>

<div class="form-group row">
	<div class="col-2 col-md-3 col-sm-4">
		<label for="sel1"><i class="fa fa-arrow-up" aria-hidden="true"></i> Padding Top:</label>
		<select id="grid-select" class="form-control col" name="sel1" id="columns">
			<option id="please-select" selected="selected">Please select</option>
			<option id="grid-col-1">5</option>
			<option id="grid-col-2">10</option>
			<option id="grid-col-3">15</option>
			<option id="grid-col-4">20</option>
		</select>
	</div>
	{{!-- <div class="col-2 col-md-3 col-sm-4">
		<a href="#" id="grid-help" data-toggle="modal" data-target="#grid-help-modal"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
	</div> --}}
</div>

<!-- Modal -->
<div id="grid-help-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content grid-helper">
			<div class="grid-helper-container">
				<div id="grid-help-modal-offset"></div>
				<div id="grid-help-modal-col"></div>
			</div>
		</div>
	</div>
</div>